html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}

.darkened {
  color: #555;
}

#calendar {
  padding: 10em;
}

.fc-time {
  color: #111;
}

.fc-content .fc-time {
  color: #fff;
}

.fc-bg {
  background-color: #fff;
}

table.weather-table {
  margin: 0px auto;
  max-width: 56%;
}
table.weather-table td {
  display: inline-block;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

footer {
  position: absolute;
  width: 500px;
  height: 100px;
  top: 95%;
  left: 50%;
  margin-left: -250px;
  text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.top-left {
  position: absolute;
  left: 2%;
  top: 2%;
}

.bottom-center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.thin {
  font-weight: 100;
}


.xsmall {
  font-size: 15px;
  line-height: 20px;
}

.small {
  font-size: 20px;
  line-height: 25px;
}

.medium {
  font-size: 30px;
  line-height: 35px;
}

.large {
  font-size: 65px;
  line-height: 65px;
}

.xlarge {
  font-size: 75px;
  line-height: 75px;
  letter-spacing: -3px;
}
